<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Training quality and errors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='imageStyle.css') }}">
</head>
<body>
    <div class="header">
        <h1>Качество обучения и величина ошибки</h1>
        <a href="{{ url_for('interface') }}">На главную</a>
    </div>
    <div class="main">
        <div class="img-container">
            <img src="data:image/png;base64,{{ image_data }}" alt="График">
        </div>
        <div class="section">
            <ul>
                <li><h2>Значение метрики по температуре</h2></li>
                <li><p><strong>WAPE</strong> = {{ metrics[0] }}</p></li>
                <li><h2>Значения метрик по заболеваемости</h2></li>
                <li><p><strong>RMSE</strong> = {{ metrics[1] }}</p></li>
                <li><p><strong>MAE</strong> = {{ metrics[2] }}</p></li>
            </ul>
        </div>
    </div>
<div class="footer">
    <p>2025 - Алексей Петров (А-13-21)</p>
</div>
</body>
</html>