/* Основной стиль для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Заголовок */
.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Картнка */
.img-container {
    width: 100vw;
    height: auto;
}
img {
    width: 100%;
    height: auto;
    display: block;
}

/* Разделы с текстом */
.section {
    margin-bottom: 30px;
}

/* Список обновлений */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Футер */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    bottom: 0;
    width: 100%;
}

