<!doctype html>
<html lang="RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="header">
        <h1>О проекте</h1>
        <a href="{{ url_for('home') }}">На главную</a>
    </div>
    <div class="main">
        <p>Выпускная квалификационная работа</p>
        <p>Тема: исследование зависимости заболеваемости COVID-19 от температуры воздуха и разработка предиктивной модели
            прогноза будущей заболеваемости</p>
        <p>В приложении:
            <ul>
                <li>Проводится регулярный сбор данных о средней температуре за месяц и суммарной заболеваемости COVID-19
                    за месяц с внешних сайтов из разных стран;</li>
                <li>Предоставляется возможность изучить хронологию температуры и заболеваемости в каждой стране;</li>
                <li>Формируется прогноз заболеваемости COVID-19 в указанной пользователем стране.</li>
            </ul>
        </p>
    </div>
    <div class="footer">
        <p></p>
        <p>Веб-приложение на микросервисной архитектуре</p>
        <p>СУБД: PostgreSQL</p>
        <p>Используемые инструменты: Python (flask, sklearn, sktime, matplotlib), HTML, CSS, JavaScript, Docker</p>
        <p>2025 - Алексей Петров (А-13-21)</p>
    </div>
</body>
</html>