<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<!--    <link rel="stylesheet" href="../static/style.css">-->
<!--    <script src="../js/dateRange.js" defer></script>-->
<!--    <script src="../js/visibilityRangeField.js" defer></script>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/dateRange.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visibilityRangeField.js') }}"></script>
</head>
<body>
<div class="header">
    <h1>Главная страница</h1>
    <p></p>
    <a href="{{ url_for('about') }}">О проекте</a>
<!--    <a href="/parser">Парсер</a>-->
<!--    <a href="/ai">Модель</a>-->
<!--    <a href="http://172.20.10.13:5001/">Парсер</a>-->
<!--    <a href="http://172.20.10.13:5002/">Модель</a>-->
    <a href="http://192.168.254.81:5001/">Парсер</a>
    <a href="http://192.168.254.81:5002/">Модель</a>
</div>

<div class="main">
    <form action="/show_plot" method="POST">
        <fieldset>
            <legend>Выберите режим визуализации:</legend>
            <!-- Радиокнопка для показа всех месяцев -->
            <label>
                <input type="radio" name="mode" value="all_months" checked>
                Все месяцы
            </label><br>
            <!-- Радиокнопка для показа среднегодовых -->
            <label>
                <input type="radio" name="mode" value="annual">
                Среднегодовые показатели
            </label><br>
            <!-- Радиокнопка для диапазона годов -->
            <label>
                <input type="radio" name="mode" value="range">
                Диапазон годов и месяцев
            </label><br>
            <!-- Поля для диапазона годов и месяцев -->
            <div class="range-fields">
                <label>Начало:
                    <input type="month" name="start_date" id="start-date">
                </label><br>
                <label>Конец:
                    <input type="month" name="end_date" id="end-date">
                </label>
            </div>
        </fieldset>
        <button name="show_but" type="submit">Показать данные</button>
    </form><br>
    <form action="/prediction" method="POST">
        <fieldset>
            <legend>Выберите страну:</legend>
            <label>
                <input type="search" name="country" list="character" required>
                <datalist id="character">
                    {% for country in countries %}
                    <option value="{{ country }}"></option>
                    {% endfor %}
                </datalist>
            </label><br>
        </fieldset>
        <button name="show_but" type="submit">Сформировать прогноз</button>
    </form>
</div>

<div class="footer">
    <p>2025 - Алексей Петров (А-13-21)</p>
</div>
</body>
</html>
