<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
    <h1>Добро пожаловать на главную страницу!</h1>
    <p></p>
    <a href="{{ url_for('about') }}">О проекте</a>
</header>

<main>
    <section>
        <h2></h2>
        <p>Наш сервис занимается регулярным сбором данных из внешних источников и занесением их в базу данных.</p>
    </section>

    <section>
        <h2>Последние обновления</h2>
        <ul>
            <li>Данные обновлены: 30.11.2024</li>
        </ul>
    </section>
</main>

<footer>
    <p>2024 - Алексей Петров (А-13-21)</p>
</footer>
</body>
</html>
