<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>График</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .img-container {
            width: 100vw;
            height: auto;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    </style>
</head>
<body>
    <div class="img-container">
        <img src="data:image/png;base64,{{ image_data }}" alt="График">
    </div>
</body>
</html>
